/* style for the 3 elements running along the top of the screen */
.hs-btn{
    float: left;
    margin: 50px;
    font-size: 20px;
}
.timer {
    float: right;
    padding: 50px;
    font-size: 30px;
}
header h1 {
    float: center;
    padding: 50px;
    text-align: center;
    color: blue;
    font-size: 50px;
}
/* Styles for the opening main content screen */
.quiz-begin{
    float: center;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    display: block;
}
#begin-btn{
    font-size: 30px;
    padding: 10px;
    color: blue;
}
ul {
    list-style-type: none;
    float: center;
}
/* Styles for the quiz questions and the buttons */
.quiz-question{
    float: center;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    display: none;
}
.quiz-button{
    font-size: 30px;
    width: 600px;
    height: 100px;
    margin-top: 15px;
    color:blue;
}
/* styles for the end section */
.quiz-end{
    float: center;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    display: none;

}
/* styles for displaying correct or wrong */
#ansCorrect{
    border-bottom: blue;
    border-bottom-style: solid; 
    display: none;
}
